.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  }

@media  (max-width: 767px) {
  .lead {
    max-width: 768px;
    
  }
}
@media  (max-width: 600px) {
  .lead {
    max-width: 320px;
    margin-top: 48px;
  }
}


