.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 52px;
  padding: 28px 48px 0;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .header {
    max-width: 928px;
  }
}
@media (max-width: 767px) {
  .header {
    max-width: 720px;
    padding: 28px 24px 0;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 16px 16px 0;
    margin: 0 auto;
    max-width: 288px;
  }
}
