.intro {
  max-width: 690px;
  padding: 92px 148px;
}
@media (max-width: 1279px) {
  .intro {
    padding-left: 48px;
  }
}
@media (max-width: 1023px) {
  .intro {
    max-width: 690px;
    padding: 88px 24px;
  }
}
@media (max-width: 767px) {
  .intro {
    max-width: 767px;
    padding: 64px 16px;
  }
}
@media (max-width: 600px) {
  .intro {
    margin: 0 auto;
  }
}
