.intro {
  max-width: 690px;
  padding: 92px 148px;
}
@media (max-width: 1023px) {
  .intro {
    max-width: 690px;
    padding: 92px 33px;
  }
}
@media (max-width: 767px) {
  .intro {
    max-width: 720px;
    padding: 88px 24px;
  }
}
@media (max-width: 600px) {
  .intro {
    /* max-width: 288px; */
    /* padding: 64px 16px; */
    padding-bottom: 62px;
    padding-right: 15px;
    padding-top: 64px;
    padding-left: 15px;
    margin: 0 auto;
  }
}
