.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  position: relative;
  display: flex;
  color: white;
  margin: 0;
  padding-bottom: 32px;
}

@media (max-width: 600px) {
  .cover__title {
    padding-left: 34px;
    padding-right: 42px;
    padding-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
    
    max-width: 255px;
  }
}
