.footer {
  max-width: 1230px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding-left: 48px;
  padding-bottom: 24px;
}
@media (max-width: 1023px) {
  .footer {
    padding: 0 38px 0;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .footer {
    display: block;
    max-width: 320px;
    padding-left: 16px;
    padding-bottom: 16px;
  }
}
