.place__url-heading {
  max-width: 456px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #aaa;
  letter-spacing: 2px;
  margin: 0;
}
@media (max-width: 1279px) {
  .place__url-heading {
    line-height: 12px;
  }
}
