.place__url-heading {
  max-width: 456px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #AAA;
  letter-spacing: 2px;
 
}

@media (max-width: 767px) {
  .place__url-heading {
    max-width: 352px;
  }
}
@media (max-width: 600px) {
  .place__url-heading {
    max-width: 320px;
    line-height: 12px;  
    
  }
}